#navbar .container{
    display: grid;
    grid-template-columns: 1fr;
}
#navbar ul{
    margin-top: 1rem;
    text-align: center;
display: grid;
order: 2;
grid-template-rows: repeat(4,1fr);
grid-gap: 1rem;
}
#navbar ul,
#navbar .logo{
    justify-self: center;
}
.navbar .container ul li a {
    margin-top: 2rem;
    padding: 0.5rem 3rem;
  }
  .showcase-cantent{
    margin-bottom: 4rem;
  }
  .articles-container{
    grid-template-columns: 1fr;
  }
  #footer .footer-part{
    grid-template-columns: 1fr;
  }
  #footer .footer-part div:last-child{
    grid-column: 1fr;
  }